.nfs*
*.txt
.ipynb_checkpoints/
__pycache__/
EventRegistries/GunViolenceArchive/GVDB
EventRegistries/GunViolenceArchive/logs
EventRegistries/GunViolenceArchive/the_violent_corpus_commercial/
Data/*/*
Evaluation/reference-coreference-scorers/
TaskPreparation/trial/*
